<footer >
    <div class="f-info ">
        <div class="f-socials sticky-bottom">
            <a href="/"><i class="fa-brands fa-instagram"></i></a>
            <a href="/"><i class="fa-brands fa-facebook"></i></a>
            <a href="/"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="f-text">&copy; WanderLust Private Limited

        </div>
        <div class="f-links">
            <a href="/">Privacy</a>
            <a href="/">Terms</a>
            <a href="/">Company Details</a>

        </div>

    </div>
    
</footer>