<footer >
    <div class="f-info ">
        <div class="f-socials sticky-bottom">
            <a href="https://www.instagram.com/anush_singla18/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://wa.me/8860406089" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="/"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="f-text">&copy; WanderLust Private Limited

        </div>
        <div class="f-links">
            <a href="/">Privacy</a>
            <a href="/">Terms</a>
            <a href="/">Company Details</a>

        </div>

    </div>
    
</footer>