<% layout('/layouts/boilerplate') %>
<body>

        
    <main>
        <div>
            <section class="hero mr-4">
                <h1>Welcome to Airbnb Replica</h1>
                <p>Your gateway to unique stays and unforgettable experiences.</p>
                <p>Find the perfect place to stay, anywhere in the world.</p>
                
            </section>
        </div>
       <section class="features">
            <h2>Why Choose Us?</h2>
            <div class="feature-grid">
                <div class="feature-card">
                    <h3>Wide Variety</h3>
                    <p>Explore thousands of unique listings in over 100 countries.</p>
                </div>
                <div class="feature-card">
                    <h3>Easy Booking</h3>
                    <p>Book your stay in just a few clicks with our user-friendly platform.</p>
                </div>
                <div class="feature-card">
                    <h3>Trusted Hosts</h3>
                    <p>Connect with verified hosts who ensure a safe and comfortable stay.</p>
                </div>
                
               
            </div>
            <br>

            <div class="feature-grid">
                <div class="feature-card">
                    <h3>Affordable</h3>
                    <p>Book your stay at the lowest possible price</p>
                </div>
                <div class="feature-card">
                    <h3>Unique Experience</h3>
                    <p>Airbnb aims to provide most unqiue and best experience</p>
                </div>
                <div class="feature-card">
                    <h3>Green and Clean</h3>
                    <p>Through Airbnb we provide best possible services</p>
                </div>
                 
            </div>
        </section>
    </main>
    </div>
    
</body>
</html>